button {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 2px;

  /* size comes from text & padding (no width/height) */
  padding: 0.4em 0.8em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #6f3188;
}


button:hover{
  cursor: pointer;
  border-color: currentColor;
  background-color: #9555af;
}
button:focus {
  color: #9555af;
  border-color: currentColor;
  background-color: #ffffff;
}
