body {

    background: url(./images/beanstalk-dark.png);

    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.imge {
    text-align: center;
    width: 40vw;

}

.box {
    background: rgba(10, 10, 10, 0);
    border: 15px solid rgba(32, 32, 32, 0);
    padding: 5%;
    margin-left: 8vw;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    width: 75vw;
    height: 100vh;
}