body {
  background: url(./images/beanstalk-dark.png);
  /* Add Background Image to body class in each page's css/style. Use this as reference. */
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 4vh;
}
/* Body Class does get inherited, just not the background. */

/* <img src="name.jpg" alt="Name"> */

.box {
  background: rgba(10, 10, 10, 0);
  border: 15px solid rgba(32, 32, 32, 0);
  padding: 5%;
  margin-left: 8vw;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  width: 75vw;
  height: 100vh;
}
